{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    {% if user %}
        <p>Logged in as '{{user.displayName}}' using {{user.provider}}</p>
    {% else %}
        <div class="passport">
            <a title="Sign in using Google" class="google" href="/auth/google"><i class="fa fa-google-plus-square fa-2x"></i></a>
            <a title="Sign in using Twitter" class="twitter" href="/auth/twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
            <a title="Sign in using Facebook" class="facebook" href="/auth/facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
        </div>
    {% endif %}
{% endblock %}
